/MembuatComponent/StripBandung-Component/nbproject/private/
/MembuatComponent/StripBandung-Component/build/
/MembuatComponent/StripBandung-Component/dist/
/JWidgetTest/JwidgetTest/nbproject/private/
/JWidgetTest/JwidgetTest/build/
/JGlassPaneTest/JGlassPaneTest/nbproject/private/
/JGlassPaneTest/JGlassPaneTest/build/
/SwingX/SwingX/nbproject/private/
/SwingX/SwingX/build/
/JXTreeTableNetBeans/build/
/JXTreeTableNetBeans/dist/
/JXTreeTableNetBeans/nbproject/private/
/JFreeChart/JFreeChart/nbproject/private/
/JFreeChart/JFreeChart/build/
/JFreeChart/DesktopEntity/nbproject/private/
/JFreeChart/Desktop-Entity/nbproject/private/
/JFreeChart/Desktop-Service/nbproject/private/
/Aplikasi-CRUD/DAPDesktop-Entity/nbproject/private/
/Aplikasi-CRUD/DAPDesktop-Service/nbproject/private/
/Aplikasi-CRUD/DAPDesktop-Application/nbproject/private/
/27/Desktop-Application/build/
/27/Desktop-Application/dist/
/27/Desktop-Application/nbproject/private/
/27/Desktop-Entity/build/
/27/Desktop-Entity/dist/
/27/Desktop-Entity/nbproject/private/
/27/Desktop-Service/build/
/27/Desktop-Service/dist/
/27/Desktop-Service/nbproject/private/
/Aplikasi-CRUD/DAPDesktop-Application/build/
/Aplikasi-CRUD/DAPDesktop-Service/build/
/Aplikasi-CRUD/DAPDesktop-Entity/build/
/Aplikasi-CRUD/DAPDesktop-Entity/dist/
/Aplikasi-CRUD/DAPDesktop-Service/dist/
/Aplikasi-CRUD/DAPDesktop-Application/dist/
/Aplikasi-GUI/Aplikasi_Data_Karyawan/nbproject/private/
/Aplikasi-GUI/Aplikasi_Data_Karyawan/build/
/AplikasiArsipSurat/Aplikasi Arsip Surat/nbproject/private/
/AplikasiArsipSurat/Aplikasi Arsip Surat/build/
/AplikasiArsipSurat/Aplikasi Arsip Surat/dist/
/AplikasiArsipSuratv2/AplikasiArsipSuratv2/nbproject/private/
/AplikasiArsipSuratv2/AplikasiArsipSuratv2/build/
/AplikasiArsipSuratv2/AplikasiArsipSuratv2/dist/
/HalloJava/HalloJava/nbproject/private/
/HalloJava/HalloJava/build/
/TampilNama/TampilNama/nbproject/private/
/TampilNama/TampilNama/build/
/UniversitasNTB/UniversitasNTB/nbproject/private/
/UniversitasNTB/UniversitasNTB/build/
